@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

@font-face {
  font-family: "Georgia";
  src: local("Georgia Bold"), local("Georgia-Bold"),
    url("../fonts/Georgia-Bold.woff2") format("woff2"),
    url("../fonts/Georgia-Bold.woff") format("woff"),
    url("../fonts/Georgia-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
